@page "/form"

@inject NavigationManager NavManager
@inject Session session

@code {
    public List<string> questions = new List<string>();
    public string msg = "";
    int defaultScore = -5;
    bool invalidSubmit = false;
    QLodgeSecurity qLodgeSecurity = new QLodgeSecurity();
    QPhysicalSecurity qPhysicalSecurity = new QPhysicalSecurity();
    public int setCount = 1;

    protected override void OnInitialized()
    {
        if (!session.IsLoggedIn())
        {
            NavManager.NavigateTo($"/logout");
            return;
        }

        qLodgeSecurity = session._nikeForm.QLodgeSecurity;
        qPhysicalSecurity = session._nikeForm.QPhysicalSecurity;
    }

    private void Submit()
    {
        if (!qLodgeSecurity.Validate() || !qPhysicalSecurity.Validate())
        {
            invalidSubmit = true;
            StateHasChanged();
            return;
        }

        NavManager.NavigateTo($"report");
    }

    private void CompleteSet(string qSet)
    {
        setCount++;
        if (setCount > 2)
        {
            Submit();
        }
    }
}

<div>
    <div class="row">
        <div class="col-1"></div>

        <div class="col-10">
            @{
                var btnText = "";
                var listQuestions = new List<Question>();
                if (setCount < 2)
                {
                    btnText = "Next";
                    listQuestions = qLodgeSecurity.Questions;
                }
                else
                {
                    btnText = "Submit";
                    listQuestions = qPhysicalSecurity.Questions;
                }
            }
            
            <NikeQs Confirmed="CompleteSet" Title="Lodge Security" invalidSubmit=@invalidSubmit questions="@listQuestions" btnText="@btnText" />

            <button type="submit" @onclick=Submit>Submit</button>

            @if (!string.IsNullOrEmpty(msg))
            {
                <p style="color:red">@msg</p>
            }
        </div>

        <div class="col-1"></div>
    </div>
</div>