@page "/form"

@inject NavigationManager NavManager
@inject Session session

@code {
    public List<string> questions = new List<string>();
    public string msg = "";
    int defaultScore = -5;
    bool invalidSubmit = false;
    List<QSet> listQSet = new List<QSet>();
    public int setCount = 0;
    public string submitBtn = "Next";
    public int maxSet = 0;

    protected override void OnInitialized()
    {
        if (!session.IsLoggedIn())
        {
            NavManager.NavigateTo($"/logout");
            return;
        }

        listQSet = session._nikeForm.ListQSet;
        maxSet = listQSet.Count() - 1;
    }

    private void Submit()
    {
        // todo - confirm modal

        NavManager.NavigateTo($"report");
    }

    private void CompleteSet()
    {
        if (!listQSet[setCount].Validate())
        {
            invalidSubmit = true;
            StateHasChanged();
            return;
        }

        if (setCount == maxSet) 
        {
            Submit(); // todo - confirm modal first
            return;
        }

        setCount++;
        if (setCount == maxSet)
        {
            submitBtn = "Submit";
        }
    }
}

<div>
    <div class="row">
        <div class="col-1"></div>

        <div class="col-10">
            <NikeQs Confirmed="CompleteSet" invalidSubmit=@invalidSubmit btnText="@submitBtn" QSet="@listQSet[setCount]" />

            @if (!string.IsNullOrEmpty(msg)) { <p style="color:red">@msg</p> }
        </div>

        <div class="col-1"></div>
    </div>
</div>