@page "/report"

@inject NavigationManager NavManager
@inject Session session

@code {
    public List<Question> qFailed = new List<Question>();
    public List<Question> qPass = new List<Question>();
    public List<Question> qNa = new List<Question>();

    protected override void OnInitialized()
    {
        if (!session.IsLoggedIn())
        {
            NavManager.NavigateTo($"/logout");
            return;
        }

        session._nikeForm.QLodge.Sum();

        qFailed = session._nikeForm.QLodge.Questions.Where(s => s.Score < 0).ToList();
        qPass = session._nikeForm.QLodge.Questions.Where(s => s.Score > 0).ToList();
        qNa = session._nikeForm.QLodge.Questions.Where(s => s.Score == 0).ToList();

    }
}

<div>
    <h3>Score for Lodge Questions: @session._nikeForm.QLodge.Total</h3>

    <h6>Non - Compliance</h6>
    @foreach (var q in qFailed)
    {
        <p style="color:red">@q.Text</p>
    }

    <h6>Compliant</h6>
    @foreach (var q in qPass)
    {
        <p style="color:green">@q.Text</p>
    }
    
    <h6>Not Applicable</h6>
    @foreach (var q in qNa)
    {
        <p style="color:blue">@q.Text</p>
    }
</div>