@page "/report"

@using Web.Components.NikeReport
@inject NavigationManager NavManager
@inject Session session

@code {
    public NikeForm report { get; set; } = new NikeForm();

    protected override void OnInitialized()
    {
        if (!session.IsLoggedIn())
        {
            NavManager.NavigateTo($"/logout");
            return;
        }

        report = session._nikeForm;
        report.Sum();
    }
}

<div>
    <Banner />

    <Heading report="@report"/> @*Heading*@

    <Disclaimer/> @*Disclaimer*@

    <Alerts report="@report" /> @*Alerts (Non - Compliance)*@

    <QSets qSets="@report.ListQSet" /> @*Question Sets*@

    <ScoreSummary qSets="@report.ListQSet" /> @*Scores Summary*@
</div>

<style>
    .greenDot {
        height: 25px;
        width: 25px;
        background-color: green;
        border-radius: 50%;
        display: inline-block;
    }

    .blueDot {
        height: 25px;
        width: 25px;
        background-color: blue;
        border-radius: 50%;
        display: inline-block;
    }

    .redDot {
        height: 25px;
        width: 25px;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
    }
</style>