@code {
    [Parameter] public QSet qSet { get; set; }
}

@foreach (var q in qSet.Questions.Where(s => s.Score < 0).ToList())
{
    <tr class="tableRow">
        <td><span class="redDot"></span></td>
        <td>@q.QInit.Question</td>
        <td>@q.Alert.Action</td>
        <td>@q.Alert.Person</td>
        <td>@q.Alert.Due.ToString("dd-MM-yyyy")</td>
    </tr>
}
