<div class="mb-5">
    <p style="font-size:12px; border:1px solid; background-color:aliceblue">
        The objective of LPA is to assess adherence to procedures from the backdoor to the sales floor.
        <br />There is no intent to find fault or blame with any staff member working at this store.
        <br />Consideration must also be given to the fact that the writer can only report on observations made on the day of the visit
        <br />and we understand that this does not necessarily reflect the day to day operations at this store.
        <br />In other words the 'as is state' may not be a true reflections of what actually occurs on a normal day.
    </p>
</div>
