@using ChartJs.Blazor.Common.Enums;
@using ChartJs.Blazor.PieChart;
@using ChartJs.Blazor.BarChart;
@using System.Drawing;
@using ChartJs.Blazor.Common;
@using ChartJs.Blazor.Util;

@inject Bll bll;

@code {
    [Parameter] public NikeForm report { get; set; }
    private PieConfig _pieConfig = new PieConfig();
    private BarConfig _barConfig = new BarConfig();
    private Chart _chart = new Chart();
    ShrinkageRename shrinkage = new();

    protected override void OnInitialized()
    {
        //InitShrinkage();
        _pieConfig = bll.PieInit(report.Shrinkage);
        _barConfig = bll.BarSetup(report);
    }

    public void InitShrinkage()
    {
        report.Shrinkage.ProcessFailure.Value = 40;
        report.Shrinkage.InternalTheft.Value = 30;
        report.Shrinkage.ExternalTheft.Value = 21;
        report.Shrinkage.SupplierFraud.Value = 7;

        shrinkage = report.Shrinkage;
    }
}

<div>
    <div class="mb-5">
        <div class="row">
            <div class="col-6 outerSet">
                <h4 class="headText">Shrinkage Barometer</h4>
                <Chart Config="_pieConfig"></Chart>
                <br/>
                <Web.Components.NikeReport.ScoreSummaryGroup.TotalShrinkage shrinkage="report.Shrinkage" /> @*summary of shrinkage*@
            </div>

            <div class="col-6 outerSet">
                <h4 class="headText">LPA Score</h4>
                <Chart Config="_barConfig" @ref="_chart"></Chart>
                <br />
                <Web.Components.NikeReport.ScoreSummaryGroup.TotalLpaScore qSets="report.ListQSet" />
            </div>
        </div>

    </div> 
</div>

<style>
    .outerSet {
        border: 1px solid black;
    }

    .headText{
        text-align: center;
    }
</style>