@code {
    [Parameter] public List<QSet> qSets { get; set; }
    public string dotColor { get; set; } = "redDot";
}

@foreach (var qSet in qSets)
{
    <div class="mb-5 outerSet">
        <h4 class="text-center" style="background-color:aliceblue">LPA Store Analysis: @qSet.Title</h4>
        <table class="table table-striped table-sm" style="font-size:14px;">
            <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">LPA Question</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var q in qSet.Questions)
                {
                    <QSetBody q="q" />
                }

            </tbody>
        </table>
        <h5 class="text-center footerTitle">@qSet.Title LPA Score = @(qSet.ScorePercent)%</h5>
    </div>
}

<style>
    .outerSet {
        border: 1px solid black;
    }

    .footerTitle {
        background-color: aliceblue;
        margin-bottom: 0px;
    }
</style>