@inherits LayoutComponentBase

<PageTitle>Store Inspection</PageTitle>

<div class="page">
    <div class="sidebar">
        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <p class="navbar-brand">Store Inspection</p>
            </div>
        </div>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
    